.square {
  position: relative;
}

.white {
  background-color: white;
  color: green;
}

.black {
  background-color: green;
  color: white;
}

.label {
  position: absolute;
  user-select: none;
  resize: both;
}

.fileLabel {
  bottom: 4px;
  right: 4px;
}

.rankLabel {
  top: 4px;
  left: 4px;
}

.possibleMove {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.circle {
  height: 16px;
  width: 16px;
  background-color: lightgray;
  border-radius: 50%;
  display: inline-block;
}

.highlight {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: yellow;
  opacity: 0.5;
}
